<div class="row">
    <div class="col-auto">
        <span>
            <label for="draw-type">Drawing Method</label>
            <select id="draw-type">
                <option value="Point">Point</option>
                <option value="LineString">LineString</option>
                <option value="None" selected="selected">None</option>
            </select>
            <input type="button" value="Undo" id="undo">
            <input type="button" value="Clear" id="clear-all-button">
        </span>

        <span>
            <label for="trial-name">Trial Name</label>
            <input name="trial-name" type="text" value="" id="trial-name" />
            <button type="button" id="trial-save-button" disabled>Save Trial</button>
        </span>
       <div id="trail-console"></div>
    </div>
</div>