<div class="rover-edit-card">
    <a class="button toggle-control">Edit</a>
    <div class="rover-edit hidden">
        <form class="rover-form">
            <input name="id" type="hidden" value="" />

            <label>
                <span>Name</span>
                <input name="name" type="text" value="" />
            </label>

            <label>
                <span>MAC</span>
                <input name="mac" type="text" value="" />
            </label>

            <button data-action="update">Update Rover</button>
            <button data-action="cancel">Cancel</button>
            <button data-action="delete">Delete Rover</button>
        </form>
    </div>
</div>