<!DOCTYPE html>
<html>
<head>
    <title>GPS Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rover Trail Management</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/select_rover.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}" type="module"></script>

</head>
<body>
    <div id="map" class="map"></div>

    <div class="control-panel">

        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRoverModal">
                Add Rover
            </button>
        </div>

        <label for="roverSelect">Select Rover:</label>
        <select id="roverSelect">
            <option value="">-- Select a Rover --</option>
        </select>

        <label for="trailSelect">Select Trail:</label>
        <select id="trailSelect" disabled>
            <option value="">-- Select a Trail --</option>
        </select>
    </div>

    <div class="status-panel">
        <h4>GNSS Status</h4>
        <p>Fix Status: <span id="fix-status">Unknown</span></p>
        <p>Raw Coordinates: <span id="raw-coords">-</span></p>
        <p>Decimal Coordinates: <span id="dec-coords">-</span></p>
        <p>Speed: <span id="speed">-</span></p>
        <p>Course: <span id="course">-</span></p>
        <p>GPS Time: <span id="gps-time">-</span></p>
        <p>Last Update: <span id="last-update">-</span></p>
    </div>


    <!--Debug information start-->
    {% if config['DEBUG'] %}
        {% include "__debug.html" %}
    {% endif %}

</body>
</html>